@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@700&family=Montserrat:wght@500;600&family=Oleo+Script&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

/* ************************************************************************************** */
/* banner-section */

.container-size {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.banner-image-section img{
   width:100%;
}
.banner-image-section{
    position: relative;
}
.all-buttons-wrapper {
    height: 100%;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.all-buttons {
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.btn {
    height: max-content;
    padding: 7px 10px;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    border: 2.5px solid #7A7A7A; 
    background: #FFF; 
    color: #7A7A7A;
    font-family: Inter;
    border: none;
}


/* responsive-banner-section */
@media only screen and (min-width:1920px){
    .container{
        width:1200px;
        margin: auto;
    }
}
@media only screen and (min-width: 1024px) {
    .btn {
        padding: 16px 20px;
        min-width: 15%;
        width: auto;
        font-weight: 600;
        font-size: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .all-buttons {
        height: 50%;
        gap: 5px;
    }
}
@media only screen and (max-width: 550px) {
    .all-buttons {
        height: 60%;
        gap: 5px;
    }
}
@media only screen and (max-width: 420px) {
    .all-buttons {
        height: 65%;
        gap: 5px;
    }
    .btn {
        font-size: 12px;
        font-weight: 600;
    }
}

/* ************************************************************************ */
/* card-section */

.cards-wrapper{
    margin-top: 7%; 
    margin-bottom:3%;
    display: flex;
}
.card-wrapper-left-box{
    width:30%;
}
.form-box{
    width:80%;
    background: #FFF;
    box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.25), -7px -7px 17px 0px rgba(0, 0, 0, 0.25);
    padding:20px 5px; 
    margin: auto;  
}

.form-data, .data {
    padding:10px 15px;   
}

.form-data input{
    width:100%;
    padding:10px 10px; 
    border-radius: 5px;
    border: 2px solid #04A07E;
    outline: none;
}

::placeholder{
    color: #7A7A7A;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

label{
    padding-left: 7px;
    color: #7A7A7A;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.form-data button{
    width:100%;
    padding:8px;
    border-radius: 5px;
    border: 2px solid #04A07E;
    background: #FFF;
    /* box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.25), -7px -7px 17px 0px rgba(0, 0, 0, 0.25); */
    color: #04A07E;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;   
}

.card-wrapper-right-box{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-box{
    width:40%;
    background: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25), -10px -10px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding-bottom:3%; 
    margin-bottom: 15%; 
}
.card-image{
    width: 100%; 
}
.card-image img{
   width:100%;
}
.rating-number-on-image{
    position: absolute;
    top:0;
    right:0;
    color: #292929;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    background: #FFF;
    margin:10px;
    padding:5px;
}
.card-box-child{
    padding:10px 20px;
}
.card-box-title{
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}
.card-icon-and-rating{
    display: flex;
    align-items: center;
    gap:10px;
    padding-top:5px;
}
.fa-star{
    color: #FFC327;
}
.rating-number{
    color: #292929;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
.address-child{
    display: flex;
    align-items: center;
    gap:10px;
}
.address-text{
    color: #292929;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.chat-section, .website-section{
    border-radius: 10px;
    border: 1.5px solid #7A7A7A;
    background: #FFF;
    padding:9px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:40%;
    margin: auto;
}
.website-section{
    border: 1.5px solid #B7B7B7;
    background: #F4F4F4;
    padding:7px 0px;
}
.card-box-chat-section-parent{
    display: flex;
    flex-wrap: nowrap; 
    /* justify-content: space-evenly;  */
   padding:20px 20px;
}
.fa-whatsapp{
     color: #16BF62;
}
.chat-section p{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.website-section .color-word{
    color: #04A07E;
    font-family: Oleo Script;
    font-size: 20px;
    font-weight: 700;
}
.website-section p{
    color: #000;
    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
}
.contact{
    width:80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap:20px;
    padding:10px 20px;
    border-radius: 5px;
    background: #16BF62;
}
.fa-phone{
    color: #FFF;
}
.contact p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.cards-wrapper {
    height: 100vh;
    position: relative;

}
.card-wrapper-right-box {
    height: 100%;
    overflow-y: scroll;
}




/* Responsive card-section */
@media only screen and (max-width:1150px){
    .contact p {
        font-size: 16px;
    }   
}

@media only screen and (max-width:1000px){
    .cards-wrapper{
        display: flex;
        flex-direction: column;
        gap:50px;
          
    }
    .card-wrapper-left-box{
        width:50%;
        margin: auto;
    }
    .card-wrapper-right-box{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .address-text{
        font-size: 15px;
    }
    .chat-section p{
        font-size: 16px;
    }
    .website-section p{
        font-size: 14px;
    }
    .website-section{
        padding:4px 20px
    }
    .contact p{
        font-size: 12px;
    }
}
@media only screen and (max-width:600px){
    .card-wrapper-left-box{
        width:75%;
        margin: auto;
    }
    .card-box{
        width:60%;
        padding-bottom:3%; 
        margin-bottom: 8%; 
    }
    .contact p{
        font-size: 17px;
    }

}
@media only screen and (max-width:480px){
    .card-wrapper-left-box{
        width:95%;
        margin: auto;
    }
    .card-box{
        width:90%;
        padding-bottom:3%; 
        margin-bottom: 8%; 
    }
    .contact p{
        font-size: 15px;
    }
}

/* scroolbar-responsive */
@media only screen and (max-width:768px){
    .cards-wrapper {
        height: 200vh;
        position: relative;
    
    }
    .card-wrapper-right-box {
        height: 100%;
        overflow-y: scroll;
    }
}